<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/jk-atbas/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="jk-atbas" />
      <add key="ClearTextPassword" value="%Nuget_Test_Pat%" />
    </GitHub>
  </packageSourceCredentials>
</configuration>